In [ ]:
from google.colab import auth
auth.authenticate_user()

In [ ]:
!pip install langchain langchain_community  langchain-google-vertexai

Collecting langchain
  Downloading langchain-0.2.6-py3-none-any.whl (975 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 975.5/975.5 kB 11.0 MB/s eta 0:00:00
Collecting langchain_community
  Downloading langchain_community-0.2.6-py3-none-any.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 33.3 MB/s eta 0:00:00
Collecting langchain-google-vertexai
  Downloading langchain_google_vertexai-1.0.6-py3-none-any.whl (72 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.0/73.0 kB 4.7 MB/s eta 0:00:00
Requirement already satisfied: PyYAML>=5.3 in /usr/local/lib/python3.10/dist-packages (from langchain) (6.0.1)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.0.31)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /usr/local/lib/python3.10/dist-packages (from langchain) (3.9.5)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (4.0.3)
Collecting langchain-core<0.3.0,>=0.2.10 (from langchain)
  Downloading langchain_core-0.2.11-py3-none-any.whl (337 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 337.4/337.4 kB 12.2 MB/s eta 0:00:00
Collecting langchain-text-splitters<0.3.0,>=0.2.0 (from langchain)
  Downloading langchain_text_splitters-0.2.2-py3-none-any.whl (25 kB)
Collecting langsmith<0.2.0,>=0.1.17 (from langchain)
  Downloading langsmith-0.1.84-py3-none-any.whl (127 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 127.9/127.9 kB 9.1 MB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.25.2)
Requirement already satisfied: pydantic<3,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.8.0)
Requirement already satisfied: requests<3,>=2 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.31.0)
Requirement already satisfied: tenacity!=8.4.0,<9.0.0,>=8.1.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (8.4.2)
Collecting dataclasses-json<0.7,>=0.5.7 (from langchain_community)
  Downloading dataclasses_json-0.6.7-py3-none-any.whl (28 kB)
Requirement already satisfied: google-cloud-aiplatform<2.0.0,>=1.56.0 in /usr/local/lib/python3.10/dist-packages (from langchain-google-vertexai) (1.57.0)
Collecting google-cloud-storage<3.0.0,>=2.17.0 (from langchain-google-vertexai)
  Downloading google_cloud_storage-2.17.0-py2.py3-none-any.whl (126 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 126.5/126.5 kB 9.3 MB/s eta 0:00:00
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.9.4)
Collecting marshmallow<4.0.0,>=3.18.0 (from dataclasses-json<0.7,>=0.5.7->langchain_community)
  Downloading marshmallow-3.21.3-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.2/49.2 kB 4.2 MB/s eta 0:00:00
Collecting typing-inspect<1,>=0.4.0 (from dataclasses-json<0.7,>=0.5.7->langchain_community)
  Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Requirement already satisfied: google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1 in /usr/local/lib/python3.10/dist-packages (from google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (2.16.2)
Requirement already satisfied: google-auth<3.0.0dev,>=2.14.1 in /usr/local/lib/python3.10/dist-packages (from google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (2.27.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (1.24.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /usr/local/lib/python3.10/dist-packages (from google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (3.20.3)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.10/dist-packages (from google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (24.1)
Requirement already satisfied: google-cloud-bigquery!=3.20.0,<4.0.0dev,>=1.15.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (3.21.0)
Requirement already satisfied: google-cloud-resource-manager<3.0.0dev,>=1.3.3 in /usr/local/lib/python3.10/dist-packages (from google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (1.12.3)
Requirement already satisfied: shapely<3.0.0dev in /usr/local/lib/python3.10/dist-packages (from google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (2.0.4)
Requirement already satisfied: docstring-parser<1 in /usr/local/lib/python3.10/dist-packages (from google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (0.16)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage<3.0.0,>=2.17.0->langchain-google-vertexai) (2.3.3)
Requirement already satisfied: google-resumable-media>=2.6.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage<3.0.0,>=2.17.0->langchain-google-vertexai) (2.7.1)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage<3.0.0,>=2.17.0->langchain-google-vertexai) (1.5.0)
Collecting jsonpatch<2.0,>=1.33 (from langchain-core<0.3.0,>=0.2.10->langchain)
  Downloading jsonpatch-1.33-py2.py3-none-any.whl (12 kB)
Collecting orjson<4.0.0,>=3.9.14 (from langsmith<0.2.0,>=0.1.17->langchain)
  Downloading orjson-3.10.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (141 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 141.1/141.1 kB 838.0 kB/s eta 0:00:00
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1->langchain) (0.7.0)
Requirement already satisfied: pydantic-core==2.20.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1->langchain) (2.20.0)
Requirement already satisfied: typing-extensions>=4.6.1 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1->langchain) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (2024.6.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy<3,>=1.4->langchain) (3.0.3)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (1.63.2)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (1.64.1)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (1.48.2)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (0.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (4.9)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery!=3.20.0,<4.0.0dev,>=1.15.0->google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (2.8.2)
Requirement already satisfied: grpc-google-iam-v1<1.0.0dev,>=0.12.4 in /usr/local/lib/python3.10/dist-packages (from google-cloud-resource-manager<3.0.0dev,>=1.3.3->google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (0.13.1)
Collecting jsonpointer>=1.9 (from jsonpatch<2.0,>=1.33->langchain-core<0.3.0,>=0.2.10->langchain)
  Downloading jsonpointer-3.0.0-py2.py3-none-any.whl (7.6 kB)
Collecting mypy-extensions>=0.3.0 (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain_community)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=2.14.1->google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (0.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery!=3.20.0,<4.0.0dev,>=1.15.0->google-cloud-aiplatform<2.0.0,>=1.56.0->langchain-google-vertexai) (1.16.0)
Installing collected packages: orjson, mypy-extensions, marshmallow, jsonpointer, typing-inspect, jsonpatch, langsmith, dataclasses-json, langchain-core, langchain-text-splitters, google-cloud-storage, langchain, langchain-google-vertexai, langchain_community
  Attempting uninstall: google-cloud-storage
    Found existing installation: google-cloud-storage 2.8.0
    Uninstalling google-cloud-storage-2.8.0:
      Successfully uninstalled google-cloud-storage-2.8.0
Successfully installed dataclasses-json-0.6.7 google-cloud-storage-2.17.0 jsonpatch-1.33 jsonpointer-3.0.0 langchain-0.2.6 langchain-core-0.2.11 langchain-google-vertexai-1.0.6 langchain-text-splitters-0.2.2 langchain_community-0.2.6 langsmith-0.1.84 marshmallow-3.21.3 mypy-extensions-1.0.0 orjson-3.10.6 typing-inspect-0.9.0

In [ ]:
from vertexai.language_models import CodeGenerationModel
from google.cloud import bigquery
import logging
import os

In [ ]:
PROJECT_ID = 'pradeep-genai'
CODE_GEN_MODEL_NAME = 'code-bison'
TEMPERATURE = 0 # default value = 0
MAX_OUTPUT_TOKENS = 2048  # length of the output response | overridding the default value which is 128
# TOP_P = 0.95  # default value
# TOP_K = 40  # default value
LOCATION = 'us-central1'

In [ ]:
DATASET = 'flight_reservations'
TABLES = ['customers', 'flights', 'reservations', 'transactions', 'loyality_points']

In [ ]:
import vertexai

In [ ]:
bq_client = bigquery.Client(project=PROJECT_ID)
vertexai.init(project=PROJECT_ID, location='us-central1')
code_gen_model = CodeGenerationModel.from_pretrained(model_name=CODE_GEN_MODEL_NAME)

In [ ]:
query = f"""
    SELECT *
    FROM `{PROJECT_ID}.{DATASET}.INFORMATION_SCHEMA.COLUMN_FIELD_PATHS`
    WHERE table_name in ({','.join([f'"{table}"' for table in TABLES])})
"""
print(query)

    SELECT *
    FROM `pradeep-genai.flight_reservations.INFORMATION_SCHEMA.COLUMN_FIELD_PATHS`
    WHERE table_name in ("customers","flights","reservations","transactions","loyality_points")

In [ ]:
schema_columns = bq_client.query(query=query).to_dataframe()
schema_columns

,table_catalog,table_schema,table_name,column_name,field_path,data_type,description,collation_name,rounding_mode
0,pradeep-genai,flight_reservations,transactions,transaction_id,transaction_id,INT64,None,NULL,None
1,pradeep-genai,flight_reservations,transactions,reservation_id,reservation_id,INT64,None,NULL,None
2,pradeep-genai,flight_reservations,transactions,amount,amount,FLOAT64,None,NULL,None
3,pradeep-genai,flight_reservations,transactions,transaction_datetime,transaction_datetime,DATETIME,None,NULL,None
4,pradeep-genai,flight_reservations,reservations,reservation_id,reservation_id,INT64,None,NULL,None
5,pradeep-genai,flight_reservations,reservations,customer_id,customer_id,INT64,None,NULL,None
6,pradeep-genai,flight_reservations,reservations,flight_id,flight_id,INT64,None,NULL,None
7,pradeep-genai,flight_reservations,reservations,reservation_datetime,reservation_datetime,DATETIME,None,NULL,None
8,pradeep-genai,flight_reservations,reservations,status,status,STRING,None,NULL,None
9,pradeep-genai,flight_reservations,flights,flight_id,flight_id,INT64,None,NULL,None
10,pradeep-genai,flight_reservations,flights,origin,origin,STRING,None,NULL,None
11,pradeep-genai,flight_reservations,flights,destination,destination,STRING,None,NULL,None
12,pradeep-genai,flight_reservations,flights,departure_datetime,departure_datetime,DATETIME,None,NULL,None
13,pradeep-genai,flight_reservations,flights,arrival_datetime,arrival_datetime,DATETIME,None,NULL,None
14,pradeep-genai,flight_reservations,flights,carrier,carrier,STRING,None,NULL,None
15,pradeep-genai,flight_reservations,flights,price,price,FLOAT64,None,NULL,None
16,pradeep-genai,flight_reservations,customers,customer_id,customer_id,INT64,None,NULL,None
17,pradeep-genai,flight_reservations,customers,first_name,first_name,STRING,None,NULL,None
18,pradeep-genai,flight_reservations,customers,last_name,last_name,STRING,None,NULL,None
19,pradeep-genai,flight_reservations,customers,email,email,STRING,None,NULL,None
20,pradeep-genai,flight_reservations,customers,date_of_birth,date_of_birth,DATE,None,NULL,None
21,pradeep-genai,flight_reservations,customers,created_at,created_at,DATETIME,None,NULL,None

In [ ]:
schema_columns = schema_columns.to_markdown(index=False)
print(schema_columns)

| table_catalog   | table_schema        | table_name   | column_name          | field_path           | data_type   | description   | collation_name   | rounding_mode   |
|:----------------|:--------------------|:-------------|:---------------------|:---------------------|:------------|:--------------|:-----------------|:----------------|
| pradeep-genai   | flight_reservations | transactions | transaction_id       | transaction_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | amount               | amount               | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | transaction_datetime | transaction_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_datetime | reservation_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | status               | status               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | origin               | origin               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | destination          | destination          | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | departure_datetime   | departure_datetime   | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | arrival_datetime     | arrival_datetime     | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | carrier              | carrier              | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | price                | price                | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | first_name           | first_name           | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | last_name            | last_name            | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | email                | email                | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | date_of_birth        | date_of_birth        | DATE        |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | created_at           | created_at           | DATETIME    |               | NULL             |                 |

In [ ]:
def generate_and_execute_sql(prompt, max_tries=15):
    """
    Generate an SQL query using the code_gen_model and execute it using bq_client.

    Args:
    - prompt (str): Prompt to provide to the model for generating SQL.
    - max_tries (int): Maximum number of attempts to generate and execute SQL.

    Returns:
    - dict: A dictionary containing the successful dataframe or error messages and prompt evolution.
    """

    tries = 0
    error_messages = []
    prompts = [prompt]
    df = None

    while tries < max_tries:
        print(f'ATTEMPT: {tries+1}')
        try:
            # Predict SQL using the model
            response = code_gen_model.predict(prompt, temperature=TEMPERATURE, max_output_tokens=MAX_OUTPUT_TOKENS)
            generated_sql_query = response.text
            generated_sql_query = '\n'.join(generated_sql_query.split('\n')[1:-1])
            print('-' * 50)
            print(generated_sql_query)
            print('-' * 50)
            # Execute SQL using BigQuery client
            df = bq_client.query(generated_sql_query).to_dataframe()
            print('SUCCEEDED')
            return {"dataframe": df, "prompts": prompts, "errors": error_messages}
        except Exception as e:
            print('FAILED')
            # Catch the error, store the message, and try again
            msg = str(e)
            error_messages.append(msg)
            # Evolve the prompt by appending the error message and asking the model to correct it
            prompt = f"""{prompt}
Encountered an error: {msg}.
To address this, please generate an alternative SQL query response that avoids this specific error.
Follow the instructions mentioned above to remediate the error.

Modify the below SQL query to resolve the issue:
{generated_sql_query}

Ensure the revised SQL query aligns precisely with the requirements outlined in the initial question."""
            prompts.append(prompt)
            tries += 1
        print('=' * 100)

    return {"dataframe": df, "prompts": prompts, "errors": error_messages}

In [ ]:
seed_prompt = """
Please craft a SQL query for BigQuery that addresses the following QUESTION provided below.
Ensure you reference the appropriate BigQuery tables and column names provided in the SCHEMA below.
When joining tables, employ type coercion to guarantee data type consistency for the join columns.
Additionally, the output column names should specify units where applicable.\n
QUESTION:
{}\n
SCHEMA:
{}\n
IMPORTANT:
Use ONLY DATETIME and DO NOT use TIMESTAMP.
--
Ensure your SQL query accurately defines both the start and end of the DATETIME range.
"""
print(seed_prompt)

Please craft a SQL query for BigQuery that addresses the following QUESTION provided below.
Ensure you reference the appropriate BigQuery tables and column names provided in the SCHEMA below.
When joining tables, employ type coercion to guarantee data type consistency for the join columns.
Additionally, the output column names should specify units where applicable.

QUESTION:
{}

SCHEMA:
{}

IMPORTANT:
Use ONLY DATETIME and DO NOT use TIMESTAMP.
--
Ensure your SQL query accurately defines both the start and end of the DATETIME range.

For this scenario, you want to find all active reservations within a specific date range.

In [ ]:
question = "Provide a list of all reservations from October 10th to October 15th, 2023"

In [ ]:
prompt = seed_prompt.format(question, schema_columns)
print(prompt)

Please craft a SQL query for BigQuery that addresses the following QUESTION provided below.
Ensure you reference the appropriate BigQuery tables and column names provided in the SCHEMA below.
When joining tables, employ type coercion to guarantee data type consistency for the join columns.
Additionally, the output column names should specify units where applicable.

QUESTION:
Provide a list of all reservations from October 10th to October 15th, 2023

SCHEMA:
| table_catalog   | table_schema        | table_name   | column_name          | field_path           | data_type   | description   | collation_name   | rounding_mode   |
|:----------------|:--------------------|:-------------|:---------------------|:---------------------|:------------|:--------------|:-----------------|:----------------|
| pradeep-genai   | flight_reservations | transactions | transaction_id       | transaction_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | amount               | amount               | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | transaction_datetime | transaction_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_datetime | reservation_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | status               | status               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | origin               | origin               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | destination          | destination          | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | departure_datetime   | departure_datetime   | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | arrival_datetime     | arrival_datetime     | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | carrier              | carrier              | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | price                | price                | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | first_name           | first_name           | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | last_name            | last_name            | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | email                | email                | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | date_of_birth        | date_of_birth        | DATE        |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | created_at           | created_at           | DATETIME    |               | NULL             |                 |

IMPORTANT:
Use ONLY DATETIME and DO NOT use TIMESTAMP.
--
Ensure your SQL query accurately defines both the start and end of the DATETIME range.

In [ ]:
%%time

response = generate_and_execute_sql(prompt=prompt)
sql_output = response['dataframe']
sql_output

ATTEMPT: 1
--------------------------------------------------
SELECT
  r.reservation_id AS Reservation_ID,
  r.reservation_datetime AS Reservation_DateTime,
  r.status AS Reservation_Status,
  f.flight_id AS Flight_ID,
  f.origin AS Flight_Origin,
  f.destination AS Flight_Destination,
  f.departure_datetime AS Flight_Departure_DateTime,
  f.arrival_datetime AS Flight_Arrival_DateTime,
  f.carrier AS Flight_Carrier,
  f.price AS Flight_Price,
  c.customer_id AS Customer_ID,
  c.first_name AS Customer_FirstName,
  c.last_name AS Customer_LastName,
  c.email AS Customer_Email
FROM
  reservations r
JOIN
  flights f ON r.flight_id = f.flight_id
JOIN
  customers c ON r.customer_id = c.customer_id
WHERE
  r.reservation_datetime BETWEEN '2023-10-10 00:00:00' AND '2023-10-15 23:59:59';
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 2
--------------------------------------------------
SELECT
  r.reservation_id AS Reservation_ID,
  r.reservation_datetime AS Reservation_DateTime,
  r.status AS Reservation_Status,
  f.flight_id AS Flight_ID,
  f.origin AS Flight_Origin,
  f.destination AS Flight_Destination,
  f.departure_datetime AS Flight_Departure_DateTime,
  f.arrival_datetime AS Flight_Arrival_DateTime,
  f.carrier AS Flight_Carrier,
  f.price AS Flight_Price,
  c.customer_id AS Customer_ID,
  c.first_name AS Customer_FirstName,
  c.last_name AS Customer_LastName,
  c.email AS Customer_Email
FROM
  flight_reservations.reservations r
JOIN
  flight_reservations.flights f ON r.flight_id = f.flight_id
JOIN
  flight_reservations.customers c ON r.customer_id = c.customer_id
WHERE
  r.reservation_datetime BETWEEN '2023-10-10 00:00:00' AND '2023-10-15 23:59:59';
--------------------------------------------------
SUCCEEDED
CPU times: user 129 ms, sys: 10 ms, total: 139 ms
Wall time: 6.93 s

,Reservation_ID,Reservation_DateTime,Reservation_Status,Flight_ID,Flight_Origin,Flight_Destination,Flight_Departure_DateTime,Flight_Arrival_DateTime,Flight_Carrier,Flight_Price,Customer_ID,Customer_FirstName,Customer_LastName,Customer_Email
0,6,2023-10-10 10:00:00,Confirmed,6,SEA,JFK,2023-11-25 06:00:00,2023-11-25 14:30:00,United,550.0,6,Diana,Prince,diana.p@example.com
1,7,2023-10-12 11:30:00,Confirmed,7,JFK,MIA,2023-11-27 20:00:00,2023-11-27 23:30:00,American,380.0,6,Diana,Prince,diana.p@example.com
2,8,2023-10-15 13:20:00,Confirmed,8,MIA,JFK,2023-11-30 10:00:00,2023-11-30 13:30:00,American,380.0,8,Fiona,Shrek,fiona.s@example.com

In [ ]:
question = "Identify all customers who have made flight reservations within the last 7 days."

In [ ]:
prompt = seed_prompt.format(question, schema_columns)

In [ ]:
%%time

response = generate_and_execute_sql(prompt=prompt)
sql_output = response['dataframe']
sql_output

ATTEMPT: 1
--------------------------------------------------
SELECT DISTINCT c.customer_id, c.first_name, c.last_name, c.email
FROM customers c
JOIN reservations r ON c.customer_id = r.customer_id
WHERE r.reservation_datetime BETWEEN DATE_SUB(CURRENT_DATETIME(), INTERVAL 7 DAY) AND CURRENT_DATETIME();
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 2
--------------------------------------------------
SELECT DISTINCT c.customer_id, c.first_name, c.last_name, c.email
FROM flight_reservations.customers c
JOIN flight_reservations.reservations r ON c.customer_id = r.customer_id
WHERE r.reservation_datetime BETWEEN DATE_SUB(CURRENT_DATETIME(), INTERVAL 7 DAY) AND CURRENT_DATETIME();
--------------------------------------------------
SUCCEEDED
CPU times: user 75 ms, sys: 8.49 ms, total: 83.4 ms
Wall time: 4.55 s

Empty DataFrame
Columns: [customer_id, first_name, last_name, email]
Index: []

In [ ]:
question = "Calculate the total revenue generated from transactions in October 2023, specifically from all reservations with a Confirmed status."

In [ ]:
prompt = seed_prompt.format(question, schema_columns)

In [ ]:
%%time

response = generate_and_execute_sql(prompt=prompt)
sql_output = response['dataframe']
sql_output

ATTEMPT: 1
--------------------------------------------------
SELECT SUM(t.amount) AS total_revenue_usd
FROM transactions t
JOIN reservations r ON t.reservation_id = r.reservation_id
WHERE r.status = 'Confirmed'
AND DATE(t.transaction_datetime) BETWEEN '2023-10-01' AND '2023-10-31';
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 2
--------------------------------------------------
SELECT SUM(t.amount) AS total_revenue_usd
FROM transactions t
JOIN reservations r ON CAST(t.reservation_id AS STRING) = CAST(r.reservation_id AS STRING)
WHERE r.status = 'Confirmed'
AND DATE(t.transaction_datetime) BETWEEN '2023-10-01' AND '2023-10-31';
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 3
--------------------------------------------------
SELECT SUM(t.amount) AS total_revenue_usd
FROM transactions t
JOIN reservations r ON t.reservation_id = r.reservation_id
WHERE r.status = 'Confirmed'
AND DATE(t.transaction_datetime) BETWEEN '2023-10-01' AND '2023-10-31';
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 4
--------------------------------------------------
SELECT SUM(t.amount) AS total_revenue_usd
FROM flight_reservations.transactions AS t
JOIN flight_reservations.reservations AS r ON t.reservation_id = r.reservation_id
WHERE r.status = 'Confirmed'
AND DATE(t.transaction_datetime) BETWEEN '2023-10-01' AND '2023-10-31';
--------------------------------------------------
SUCCEEDED
CPU times: user 114 ms, sys: 18 ms, total: 132 ms
Wall time: 7.39 s

   total_revenue_usd
0             3860.0

In [ ]:
question = "Determine the departure months with the highest frequency for the year 2023."

In [ ]:
prompt = seed_prompt.format(question, schema_columns)

In [ ]:
%%time

response = generate_and_execute_sql(prompt=prompt)
sql_output = response['dataframe']
sql_output

ATTEMPT: 1
--------------------------------------------------
SELECT DATE_TRUNC(departure_datetime, MONTH) AS departure_month,
       COUNT(*) AS num_departures
FROM flight_reservations.flights
WHERE departure_datetime BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY departure_month
ORDER BY num_departures DESC
LIMIT 10;
--------------------------------------------------
SUCCEEDED

CPU times: user 63.7 ms, sys: 10.9 ms, total: 74.6 ms
Wall time: 4.69 s

  departure_month  num_departures
0      2023-11-01               8
1      2023-12-01               7

In [ ]:
question = "Group customers into five distinct age brackets and count the number of customers in each bracket."

In [ ]:
prompt = seed_prompt.format(question, schema_columns)

In [ ]:
%%time

response = generate_and_execute_sql(prompt=prompt)
sql_output = response['dataframe']
sql_output

ATTEMPT: 1
--------------------------------------------------
-- Calculate customer age brackets and count customers within each bracket
SELECT
  CASE
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) < 20 THEN '0-19 years'
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) BETWEEN 20 AND 29 THEN '20-29 years'
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) BETWEEN 30 AND 39 THEN '30-39 years'
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) BETWEEN 40 AND 49 THEN '40-49 years'
    ELSE '50+ years'
  END AS age_bracket,
  COUNT(c.customer_id) AS customer_count
FROM
  customers c
GROUP BY
  age_bracket;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 2
--------------------------------------------------
-- Calculate customer age brackets and count customers within each bracket
SELECT
  CASE
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) < 20 THEN '0-19 years'
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) BETWEEN 20 AND 29 THEN '20-29 years'
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) BETWEEN 30 AND 39 THEN '30-39 years'
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) BETWEEN 40 AND 49 THEN '40-49 years'
    ELSE '50+ years'
  END AS age_bracket,
  COUNT(c.customer_id) AS customer_count
FROM
  flight_reservations.customers c
GROUP BY
  age_bracket;
--------------------------------------------------
SUCCEEDED
CPU times: user 94 ms, sys: 11.3 ms, total: 105 ms
Wall time: 5.84 s

   age_bracket  customer_count
0  30-39 years               6
1  40-49 years               5
2  20-29 years               3
3    50+ years               6

In [ ]:
question = "Identify and rank all customers aged 18+ who have `Confirmed` reservations for the current month, ordered by their age. Make sure to display their ages in the result."

In [ ]:
prompt = seed_prompt.format(question, schema_columns)

In [ ]:
%%time

response = generate_and_execute_sql(prompt=prompt)
sql_output = response['dataframe']
sql_output

ATTEMPT: 1
--------------------------------------------------
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        transactions t
    JOIN
        reservations r ON t.reservation_id = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    customers c
JOIN
    CurrentMonthConfirmedReservations cmcr ON c.customer_id = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 2
--------------------------------------------------
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        `flight_reservations.transactions` t
    JOIN
        `flight_reservations.reservations` r ON t.reservation_id = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    `flight_reservations.customers` c
JOIN
    CurrentMonthConfirmedReservations cmcr ON c.customer_id = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 3
--------------------------------------------------
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        `flight_reservations.transactions` t
    JOIN
        `flight_reservations.reservations` r ON t.reservation_id = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    `flight_reservations.customers` c
JOIN
    CurrentMonthConfirmedReservations cmcr ON c.customer_id = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 4
--------------------------------------------------
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        `flight_reservations.transactions` t
    JOIN
        `flight_reservations.reservations` r ON t.reservation_id = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    `flight_reservations.customers` c
JOIN
    CurrentMonthConfirmedReservations cmcr ON c.customer_id = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 5
--------------------------------------------------
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        `flight_reservations.transactions` t
    JOIN
        `flight_reservations.reservations` r ON t.reservation_id = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    `flight_reservations.customers` c
JOIN
    CurrentMonthConfirmedReservations cmcr ON c.customer_id = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 6
--------------------------------------------------
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        `flight_reservations.transactions` t
    JOIN
        `flight_reservations.reservations` r ON t.reservation_id = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    `flight_reservations.customers` c
JOIN
    CurrentMonthConfirmedReservations cmcr ON c.customer_id = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 7
--------------------------------------------------
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        `flight_reservations.transactions` t
    JOIN
        `flight_reservations.reservations` r ON t.reservation_id = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    `flight_reservations.customers` c
JOIN
    CurrentMonthConfirmedReservations cmcr ON c.customer_id = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 8
--------------------------------------------------
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        `flight_reservations.transactions` t
    JOIN
        `flight_reservations.reservations` r ON t.reservation_id = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    `flight_reservations.customers` c
JOIN
    CurrentMonthConfirmedReservations cmcr ON c.customer_id = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18
ORDER BY
    age_rank;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 9
--------------------------------------------------
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        `flight_reservations.transactions` t
    JOIN
        `flight_reservations.reservations` r ON t.reservation_id = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    `flight_reservations.customers` c
JOIN
    CurrentMonthConfirmedReservations cmcr ON c.customer_id = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18
ORDER BY
    age_rank;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 10
--------------------------------------------------
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        `flight_reservations.transactions` t
    JOIN
        `flight_reservations.reservations` r ON CAST(t.reservation_id AS INT64) = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    `flight_reservations.customers` c
JOIN
    CurrentMonthConfirmedReservations cmcr ON CAST(c.customer_id AS INT64) = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18
ORDER BY
    age_rank;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 11
--------------------------------------------------
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        `flight_reservations.transactions` t
    JOIN
        `flight_reservations.reservations` r ON CAST(t.reservation_id AS INT64) = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    `flight_reservations.customers` c
JOIN
    CurrentMonthConfirmedReservations cmcr ON CAST(c.customer_id AS INT64) = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18
ORDER BY
    age_rank;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 12
--------------------------------------------------
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        `flight_reservations.transactions` t
    JOIN
        `flight_reservations.reservations` r ON CAST(t.reservation_id AS INT64) = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    `flight_reservations.customers` c
JOIN
    CurrentMonthConfirmedReservations cmcr ON CAST(c.customer_id AS INT64) = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18
ORDER BY
    age_rank;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 13
--------------------------------------------------
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        `flight_reservations.transactions` t
    JOIN
        `flight_reservations.reservations` r ON CAST(t.reservation_id AS INT64) = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    `flight_reservations.customers` c
JOIN
    CurrentMonthConfirmedReservations cmcr ON CAST(c.customer_id AS INT64) = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18
ORDER BY
    age_rank;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 14
--------------------------------------------------
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        `flight_reservations.transactions` t
    JOIN
        `flight_reservations.reservations` r ON CAST(t.reservation_id AS INT64) = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    `flight_reservations.customers` c
JOIN
    CurrentMonthConfirmedReservations cmcr ON CAST(c.customer_id AS INT64) = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18
ORDER BY
    age_rank;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 15
--------------------------------------------------
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        `flight_reservations.transactions` t
    JOIN
        `flight_reservations.reservations` r ON CAST(t.reservation_id AS INT64) = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    `flight_reservations.customers` c
JOIN
    CurrentMonthConfirmedReservations cmcr ON CAST(c.customer_id AS INT64) = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18
ORDER BY
    age_rank;
--------------------------------------------------
FAILED
====================================================================================================
CPU times: user 426 ms, sys: 68.2 ms, total: 494 ms
Wall time: 40.1 s

Inspect the evolution of the seed prompt and how SQL query was fixed automatically by the LLM.

In [ ]:
for i, prompt in enumerate(response['prompts']):
    print(f'==================== ATTEMPT {i+1} ====================')
    print(prompt)

==================== ATTEMPT 1 ====================

Please craft a SQL query for BigQuery that addresses the following QUESTION provided below.
Ensure you reference the appropriate BigQuery tables and column names provided in the SCHEMA below.
When joining tables, employ type coercion to guarantee data type consistency for the join columns.
Additionally, the output column names should specify units where applicable.

QUESTION:
Identify and rank all customers aged 18+ who have `Confirmed` reservations for the current month, ordered by their age. Make sure to display their ages in the result.

SCHEMA:
| table_catalog   | table_schema        | table_name   | column_name          | field_path           | data_type   | description   | collation_name   | rounding_mode   |
|:----------------|:--------------------|:-------------|:---------------------|:---------------------|:------------|:--------------|:-----------------|:----------------|
| pradeep-genai   | flight_reservations | transactions | transaction_id       | transaction_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | amount               | amount               | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | transaction_datetime | transaction_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_datetime | reservation_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | status               | status               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | origin               | origin               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | destination          | destination          | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | departure_datetime   | departure_datetime   | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | arrival_datetime     | arrival_datetime     | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | carrier              | carrier              | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | price                | price                | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | first_name           | first_name           | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | last_name            | last_name            | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | email                | email                | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | date_of_birth        | date_of_birth        | DATE        |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | created_at           | created_at           | DATETIME    |               | NULL             |                 |

IMPORTANT:
Use ONLY DATETIME and DO NOT use TIMESTAMP.
--
Ensure your SQL query accurately defines both the start and end of the DATETIME range.

==================== ATTEMPT 2 ====================

Please craft a SQL query for BigQuery that addresses the following QUESTION provided below.
Ensure you reference the appropriate BigQuery tables and column names provided in the SCHEMA below.
When joining tables, employ type coercion to guarantee data type consistency for the join columns.
Additionally, the output column names should specify units where applicable.

QUESTION:
Identify and rank all customers aged 18+ who have `Confirmed` reservations for the current month, ordered by their age. Make sure to display their ages in the result.

SCHEMA:
| table_catalog   | table_schema        | table_name   | column_name          | field_path           | data_type   | description   | collation_name   | rounding_mode   |
|:----------------|:--------------------|:-------------|:---------------------|:---------------------|:------------|:--------------|:-----------------|:----------------|
| pradeep-genai   | flight_reservations | transactions | transaction_id       | transaction_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | amount               | amount               | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | transaction_datetime | transaction_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_datetime | reservation_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | status               | status               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | origin               | origin               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | destination          | destination          | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | departure_datetime   | departure_datetime   | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | arrival_datetime     | arrival_datetime     | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | carrier              | carrier              | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | price                | price                | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | first_name           | first_name           | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | last_name            | last_name            | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | email                | email                | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | date_of_birth        | date_of_birth        | DATE        |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | created_at           | created_at           | DATETIME    |               | NULL             |                 |

IMPORTANT:
Use ONLY DATETIME and DO NOT use TIMESTAMP.
--
Ensure your SQL query accurately defines both the start and end of the DATETIME range.

Encountered an error: 400 Table "customers" must be qualified with a dataset (e.g. dataset.table).; reason: invalid, location: customers, message: Table "customers" must be qualified with a dataset (e.g. dataset.table).

Location: US
Job ID: 1ac0c0f5-cd76-48c4-83a0-0478d81ad96e
.
To address this, please generate an alternative SQL query response that avoids this specific error.
Follow the instructions mentioned above to remediate the error.

Modify the below SQL query to resolve the issue:
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        transactions t
    JOIN
        reservations r ON t.reservation_id = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    customers c
JOIN
    CurrentMonthConfirmedReservations cmcr ON c.customer_id = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18;

Ensure the revised SQL query aligns precisely with the requirements outlined in the initial question.
==================== ATTEMPT 3 ====================

Please craft a SQL query for BigQuery that addresses the following QUESTION provided below.
Ensure you reference the appropriate BigQuery tables and column names provided in the SCHEMA below.
When joining tables, employ type coercion to guarantee data type consistency for the join columns.
Additionally, the output column names should specify units where applicable.

QUESTION:
Identify and rank all customers aged 18+ who have `Confirmed` reservations for the current month, ordered by their age. Make sure to display their ages in the result.

SCHEMA:
| table_catalog   | table_schema        | table_name   | column_name          | field_path           | data_type   | description   | collation_name   | rounding_mode   |
|:----------------|:--------------------|:-------------|:---------------------|:---------------------|:------------|:--------------|:-----------------|:----------------|
| pradeep-genai   | flight_reservations | transactions | transaction_id       | transaction_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | amount               | amount               | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | transaction_datetime | transaction_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_datetime | reservation_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | status               | status               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | origin               | origin               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | destination          | destination          | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | departure_datetime   | departure_datetime   | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | arrival_datetime     | arrival_datetime     | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | carrier              | carrier              | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | price                | price                | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | first_name           | first_name           | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | last_name            | last_name            | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | email                | email                | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | date_of_birth        | date_of_birth        | DATE        |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | created_at           | created_at           | DATETIME    |               | NULL             |                 |

IMPORTANT:
Use ONLY DATETIME and DO NOT use TIMESTAMP.
--
Ensure your SQL query accurately defines both the start and end of the DATETIME range.

Encountered an error: 400 Table "customers" must be qualified with a dataset (e.g. dataset.table).; reason: invalid, location: customers, message: Table "customers" must be qualified with a dataset (e.g. dataset.table).

Location: US
Job ID: 1ac0c0f5-cd76-48c4-83a0-0478d81ad96e
.
To address this, please generate an alternative SQL query response that avoids this specific error.
Follow the instructions mentioned above to remediate the error.

Modify the below SQL query to resolve the issue:
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        transactions t
    JOIN
        reservations r ON t.reservation_id = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    customers c
JOIN
    CurrentMonthConfirmedReservations cmcr ON c.customer_id = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18;

Ensure the revised SQL query aligns precisely with the requirements outlined in the initial question.
Encountered an error: 400 Name customer_id not found inside t at [3:11]; reason: invalidQuery, location: query, message: Name customer_id not found inside t at [3:11]

Location: US
Job ID: 95b01a1a-179b-489e-87e6-f192ec4fc005
.
To address this, please generate an alternative SQL query response that avoids this specific error.
Follow the instructions mentioned above to remediate the error.

Modify the below SQL query to resolve the issue:
WITH CurrentMonthConfirmedReservations AS (
    SELECT
        t.customer_id
    FROM
        `flight_reservations.transactions` t
    JOIN
        `flight_reservations.reservations` r ON t.reservation_id = r.reservation_id
    WHERE
        r.status = 'Confirmed'
        AND DATE(t.transaction_datetime) BETWEEN DATE_TRUNC(DATE(CURRENT_DATE()), MONTH) AND DATE_ADD(DATE_TRUNC(DATE(CURRENT_DATE()), MONTH), INTERVAL 1 MONTH) - INTERVAL 1 DAY
)

SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
    RANK() OVER (ORDER BY DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR)) AS age_rank
FROM
    `flight_reservations.customers` c
JOIN
    CurrentMonthConfirmedReservations cmcr ON c.customer_id = cmcr.customer_id
WHERE
    DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) >= 18;

Ensure the revised SQL query aligns precisely with the requirements outlined in the initial question.
==================== ATTEMPT 4 ====================

Please craft a SQL query for BigQuery that addresses the following QUESTION provided below.
Ensure you reference the appropriate BigQuery tables and column names provided in the SCHEMA below.
When joining tables, employ type coercion to guarantee data type consistency for the join columns.
Additionally, the output column names should specify units where applicable.

QUESTION:
Identify and rank all customers aged 18+ who have `Confirmed` reservations for the current month, ordered by their age. Make sure to display their ages in the result.

SCHEMA:
| table_catalog   | table_schema        | table_name   | column_name          | field_path           | data_type   | description   | collation_name   | rounding_mode   |
|:----------------|:--------------------|:-------------|:---------------------|:---------------------|:------------|:--------------|:-----------------|:----------------|
| pradeep-genai   | flight_reservations | transactions | transaction_id       | transaction_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |